body {
  font-family: Arial, sans-serif;

  background-repeat: no-repeat;
  background-size: 1400px;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}
li.first-letter {
  text-transform: capitalize;
}
img {
  size: 50px;
}

small {
  margin-top: 0;
  color: white;
  font-weight: bold;
  font-style: oblique;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px 30px 0px 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: white;
}
.overview {
  margin-bottom: 20px;
}
.weather-temprature img {
  display: inline;
  margin-right: 5px;
  height: 64px;
  width: 64px;
  margin-top: -35px;
}

.weather-temprature strong {
  color: black;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}
.weather-temprature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.another {
  font-weight: bold;
}
.day {
  background-image: url("day.jpg");
  background-size: 100%;
}
.night {
  background-image: url("735997.jpg");
  background-size: 100%;
}
