body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}
li.first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.weather-app {
  max-width: 600px;
  margin: 030px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temprature img {
  display: inline;
  margin-right: 5px;
  height: 64px;
  width: 64px;
  margin-top: -35px;
}

.weather-temprature strong {
  color: black;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}
.weather-temprature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
